<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades</title>
</head>

<body>
    <h1>Student Grades</h1>


    <p>
        <a href="/grades/add">Add a student's grades</a>
    </p>

    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Student</th>
                <th>Class</th>
                <th>Term 1 Grade</th>
                <th>Term 2 Grade</th>
                <th>Term 3 Grade</th>
                <th>Average</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <% grades.forEach(function(data) { %>
                <tr>
                    <td>
                        <%= data.first_name + ' ' + data.last_name %>
                    </td>
                    <td>
                        <%= data.class %>
                    </td>
                    <td>
                        <%= data.term1_grade %>
                    </td>
                    <td>
                        <%= data.term2_grade %>
                    </td>
                    <td>
                        <%= data.term3_grade %>
                    </td>
                    <td>
                        <%= data.average %>
                    </td>

                    <td>
                        <button>
                            <a href="/grades/edit/<%= data.id %>">Edit</a>
                        </button>

                        <button>
                            <a href="/grades/delete/<%= data.id %>">Delete</a>
                        </button>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>